version: '{build}'

environment:
  RELEASE_KEY_SECRET:
    secure: qK/vt4/ihLipeamB7l+Dng==

install:
  - ps: Install-Product node 8
  - if defined RELEASE_KEY_SECRET (nuget install secure-file -ExcludeVersion -Verbosity quiet && secure-file\tools\secure-file -decrypt net\DevExtreme.AspNet.Data\release.snk.enc -secret %RELEASE_KEY_SECRET%)
  - nuget install -Verbosity quiet -ExcludeVersion -OutputDirectory . OpenCover
  - pip install -q codecov
  - npm run make-nojquery
  - powershell -File build\replace-meta.ps1 %APPVEYOR_BUILD_NUMBER% %APPVEYOR_REPO_TAG_NAME%
  - npm install
  - dotnet restore net\DevExtreme.AspNet.Data.sln
  - nuget restore net\DevExtreme.AspNet.Data.sln -Verbosity quiet

build_script:
  - dotnet build net\DevExtreme.AspNet.Data.sln

test_script:
  - npm test

  - >-
    OpenCover\tools\OpenCover.Console -returntargetcode -register:user -oldstyle
    -target:dotnet.exe
    -targetargs:"test net\DevExtreme.AspNet.Data.Tests\DevExtreme.AspNet.Data.Tests.csproj"
    -filter:"+[DevExtreme*]* -[DevExtreme.AspNet.Data.Tests]*"
    -output:coverage_netcore.xml

  - >-
    OpenCover\tools\OpenCover.Console -returntargetcode -register:user -oldstyle
    -target:dotnet.exe
    -targetargs:"test net\DevExtreme.AspNet.Data.Tests.EFCore\DevExtreme.AspNet.Data.Tests.EFCore.csproj"
    -filter:"+[DevExtreme*]* -[DevExtreme.AspNet.Data.Tests.EFCore]*"
    -output:coverage_efcore.xml

  - >-
    OpenCover\tools\OpenCover.Console -returntargetcode -register:user
    -target:%xunit20%\xunit.console.exe
    -targetargs:"
    net\DevExtreme.AspNet.Data.Tests.NET4\bin\Debug\DevExtreme.AspNet.Data.Tests.dll
    net\DevExtreme.AspNet.Data.Tests.EF6\bin\Debug\DevExtreme.AspNet.Data.Tests.EF6.dll
    -noshadow"
    -filter:"+[DevExtreme*]* -[DevExtreme.AspNet.Data.Tests]* -[DevExtreme.AspNet.Data.Tests.*]*"
    -output:coverage_netfx.xml

after_test:
  - npm pack
  - npm pack ./js-nojquery
  - cmd /c net\docfx\build
  - if defined RELEASE_KEY_SECRET dotnet pack net\DevExtreme.AspNet.Data --configuration=Release

on_success:
  - codecov -X gcov -f coverage_netcore.xml coverage_efcore.xml coverage_netfx.xml js-test/coverage/lcov.info

artifacts:
  - path: net\DevExtreme.AspNet.Data\bin\Release\*.nupkg
  - path: devextreme-aspnet-data-*.tgz
  - path: net\docfx\build\site
