version: '{build}'
image: Visual Studio 2019

environment:
  RELEASE_KEY_SECRET:
    secure: qK/vt4/ihLipeamB7l+Dng==

install:
  - if defined RELEASE_KEY_SECRET (nuget install secure-file -ExcludeVersion -Verbosity quiet && secure-file\tools\secure-file -decrypt net\DevExtreme.AspNet.Data\release.snk.enc -secret %RELEASE_KEY_SECRET%)
  - nuget install -Verbosity quiet -ExcludeVersion -OutputDirectory . OpenCover
  - pip install -q codecov
  - node build/make-nojquery
  - node build/replace-meta "%APPVEYOR_BUILD_NUMBER%" "%APPVEYOR_REPO_TAG_NAME%" "%APPVEYOR_REPO_NAME%"
  - npm install
  - cd net\Sample && npm i
  - dotnet restore net\DevExtreme.AspNet.Data.sln
  - nuget restore net\DevExtreme.AspNet.Data.sln -Verbosity quiet

build_script:
  - dotnet build net\DevExtreme.AspNet.Data.sln

test_script:
  - npm run eclint
  - npm run eslint

  - npm i --no-save "devextreme@~18.1.0"
  - npm run dts
  - npm run karma

  - npm i --no-save "devextreme@>=18.2.0"
  - npm run dts
  - npm run karma
  - npm run karma-bundled
  - npm run karma-bundled-nojquery
  - npm run karma-bundled-nojquery-cjs

  - >-
    OpenCover\tools\OpenCover.Console -returntargetcode -register:user -oldstyle
    -target:dotnet.exe
    -targetargs:"vstest
    net\DevExtreme.AspNet.Data.Tests\bin\Debug\netcoreapp2.0\DevExtreme.AspNet.Data.Tests.dll
    net\DevExtreme.AspNet.Data.Tests.EFCore1\bin\Debug\netcoreapp2.0\DevExtreme.AspNet.Data.Tests.EFCore1.dll
    net\DevExtreme.AspNet.Data.Tests.EFCore2\bin\Debug\netcoreapp2.0\DevExtreme.AspNet.Data.Tests.EFCore2.dll
    net\DevExtreme.AspNet.Data.Tests.NH\bin\Debug\netcoreapp2.0\DevExtreme.AspNet.Data.Tests.NH.dll
    net\DevExtreme.AspNet.Data.Tests.Xpo\bin\Debug\netcoreapp2.0\DevExtreme.AspNet.Data.Tests.Xpo.dll
    "
    -filter:"+[DevExtreme*]* -[DevExtreme.AspNet.Data.Tests]* -[DevExtreme.AspNet.Data.Tests.*]*"
    -output:coverage_netcore.xml

  - >-
    OpenCover\tools\OpenCover.Console -returntargetcode -register:user -oldstyle
    -target:dotnet.exe
    -targetargs:"vstest
    net\DevExtreme.AspNet.Data.Tests.EFCore3\bin\Debug\netcoreapp3.1\DevExtreme.AspNet.Data.Tests.EFCore3.dll
    "
    -filter:"+[DevExtreme*]* -[DevExtreme.AspNet.Data.Tests]* -[DevExtreme.AspNet.Data.Tests.*]*"
    -output:coverage_netcore3.xml

  - >-
    OpenCover\tools\OpenCover.Console -returntargetcode -register:Path64
    -target:%xunit20%\xunit.console.exe
    -targetargs:"
    net\DevExtreme.AspNet.Data.Tests.NET4\bin\Debug\DevExtreme.AspNet.Data.Tests.dll
    net\DevExtreme.AspNet.Data.Tests.EF6\bin\Debug\DevExtreme.AspNet.Data.Tests.EF6.dll
    net\DevExtreme.AspNet.Data.Tests.L2S\bin\Debug\DevExtreme.AspNet.Data.Tests.L2S.dll
    -noshadow"
    -filter:"+[DevExtreme*]* -[DevExtreme.AspNet.Data.Tests]* -[DevExtreme.AspNet.Data.Tests.*]*"
    -output:coverage_netfx.xml

after_test:
  - npm pack
  - npm pack ./js-nojquery
  - cmd /c net\docfx\build
  - if defined RELEASE_KEY_SECRET dotnet pack net\DevExtreme.AspNet.Data --configuration=Release

on_success:
  - codecov -X gcov -f coverage_netcore.xml coverage_netcore3.xml coverage_netfx.xml js-test/coverage/lcov.info

artifacts:
  - path: net\DevExtreme.AspNet.Data\bin\Release\*.nupkg
  - path: devextreme-aspnet-data-*.tgz
  - path: net\docfx\build\site
