version: '{build}'

environment:
  RELEASE_KEY_SECRET:
    secure: qK/vt4/ihLipeamB7l+Dng==

cache:
  - '%LOCALAPPDATA%\Microsoft\dotnet -> appveyor.yml'
  - '%LOCALAPPDATA%\NuGet -> **\packages.config'
  - '%USERPROFILE%\.nuget\packages -> appveyor.yml, **\project.json'
  - js-test\node_modules -> js-test\package.json

install:
  - appveyor DownloadFile https://raw.githubusercontent.com/dotnet/cli/v1.0.0-preview2/scripts/obtain/dotnet-install.ps1
  - powershell -File dotnet-install.ps1
  - set PATH=%PATH%;%LOCALAPPDATA%\Microsoft\dotnet
  - cd js-test && npm install

before_build:
  - dotnet restore -v minimal
  - nuget restore net\DevExtreme.AspNet.Data.Tests.NET40
  - powershell -File build\replace-meta.ps1 %APPVEYOR_BUILD_NUMBER% %APPVEYOR_REPO_TAG_NAME%
  - if defined RELEASE_KEY_SECRET (nuget install secure-file -ExcludeVersion && secure-file\tools\secure-file -decrypt net\DevExtreme.AspNet.Data\release.snk.enc -secret %RELEASE_KEY_SECRET%)

build_script:
  - dotnet build net\DevExtreme.AspNet.Data
  - dotnet build net\DevExtreme.AspNet.Data.Tests
  - dotnet build net\Sample
  - msbuild net\DevExtreme.AspNet.Data.Tests.NET40\DevExtreme.AspNet.Data.Tests.NET40.sln /v:q

test_script:
  - js-test\node_modules\.bin\jshint js
  - cd js-test && node_modules\.bin\karma start karma.js
  - dotnet test net\DevExtreme.AspNet.Data.Tests -f netcoreapp1
  - xunit.console.clr4 net\DevExtreme.AspNet.Data.Tests.NET40\bin\Debug\DevExtreme.AspNet.Data.Tests.dll /appveyor

after_test:
  - if defined RELEASE_KEY_SECRET dotnet pack net\DevExtreme.AspNet.Data --configuration=Release

artifacts:
  - path: net\DevExtreme.AspNet.Data\bin\Release\*.nupkg
