@{
    Layout = "~/Views/_Layout.cshtml";
}

<div id="list"></div>
<script>
    $(function() {
        $("#list").dxList({
            dataSource: {
                store: DevExpress.data.AspNet.createStore({
                    loadUrl: "@Url.Action("Products", "Northwind")"
                }),
                group: "category.categoryName",
                sort: "productName",
                paginate: true,
                pageSize: 1 // group
            },
            grouped: true,
            itemTemplate: function(product) {
                return product.productName;
            }
        });
    });
</script>
