@{
    Layout = "~/Views/_Layout.cshtml";
}

<div id="lookup"></div>
<script>
    $(function() {
        $("#lookup").dxLookup({
            dataSource: DevExpress.data.AspNet.createStore({
                loadUrl: "@Url.Action("Products", "Northwind")"
            }),
            valueExpr: "productID",
            displayExpr: "productName",
            searchEnabled: true
        });
    });
</script>
