<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/lib/devextreme/css/dx.common.css" />
    <link rel="stylesheet" href="~/lib/devextreme/css/dx.light.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/devextreme/js/dx.all.debug.js"></script>

    <script src="~/lib/dx.aspnet.data.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
